@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

section, aside, header {
    margin-left: 20px;
    margin-right: 20px;
    color: #990505;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #990505;
}

iframe {
    width: 50%;
    height: 500px;
}

ul, li, img, nav {
    display: inline-block;
}

nav {
    position: relative;
    bottom: 12px;
    padding-bottom: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

.nav-list-a {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: #990505;
}

.nav-list-b {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #990505;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #990505;
    box-shadow: 0px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}

.nav-list-b:hover{
    color: #990505;
    background-color: transparent;
 }

.nav-list, .nav-button {
    position: relative;
    left: 375px;
    padding: 10px;
 }

 .welcome, #faq, #contact {
    padding-top: 20px;
 }

 .faq-q {
    font-weight: 600;
    padding-bottom: 5px;
 }

 .faq-a {
    padding-bottom: 10px;
 }

 #contact {
    padding-bottom: 20px;
 }

 .form-button {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #990505;
    transition: 0.5s;
    border: 1px solid #990505;
    box-shadow: 0px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}

.form-button:hover{
    color: #990505;
    background-color: transparent;
}
