@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

section, aside, header {
    color: #990505;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #990505;
}

iframe {
    width: 50%;
    height: 500px;
}

.nav-list-a {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: #990505;
}

.nav-list-b {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #990505;
    text-decoration: none;
    transition: 0.5s;
}

.nav-list-b:hover{
    color: #990505;
    background-color:transparent;
 }

.nav-list, .nav-button {
    display: inline-block;
 }

 .form-button {
    color: #ffffff;
    background-color: #990505;
}
