@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

section, aside, header {
    color: #990505;
    padding: 15px;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #990505;
}

iframe {
    width: 50%;
    height: 500px;
}

ul, li, img, nav {
    display: inline-block;
}

nav {
    bottom: 12px;
    position: relative;
}

.nav-list-a {
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: #990505;
}

.nav-list-b {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #990505;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #990505;
    box-shadow: 0px 5px 10px;
    border-radius: 10px;
    padding: 10px;
}

.nav-list-b:hover{
    color: #990505;
    background-color:transparent;
 }

.nav-list, .nav-button {
    display: inline-block;
    right: 100%;
 }

 .form-button {
    color: #ffffff;
    background-color: #990505;
}
